
.animation{
    position: relative;
    animation-name: anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes anim {
    0%   {left:0px; top:0px;}
    5%   {left:10px; top:5px;}
    10%   {left:20px; top:0px;}
    15%   {left:30px; top:5px;}
    20%   {left:40px; top:0px;}
    25%   {left:50px; top:5px;}
    30%   {left:60px; top:0px;}
    35%   {left:70px; top:5px;}
    40%   {left:80px; top:0px;}
    45%   {left:90px; top:0px;}
    50%   { visibility: hidden}
    55%   { visibility: hidden}
    60%   { visibility: hidden}
    65%   { visibility: hidden}
    70%   { visibility: hidden}
    75%   { visibility: hidden}
    80%  { visibility: hidden}
    85%   { visibility: hidden}
    90%   { visibility: hidden}
    95%   { visibility: hidden}
    100%  { visibility: hidden}
}

.anim-student{

}
.anim-student:hover
{
    transform: scale(2, 2);
}

/*@keyframes anim2 {*/
/*    0%   {left:0px; top:0px; visibility: visible}*/
/*    100%  { visibility: hidden}*/
/*}*/