.example-enter {
    opacity: 0.01;
    background: #960e66;
}

.example-enter.example-enter-active {
    opacity: 1;
    background: #960e66;
    transition: opacity 500ms ease-in;
}

.example-leave {
    background: #960e66;
    opacity: 1;
}

.example-leave.example-leave-active {
    background: #960e66;
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}