@import url("https://use.typekit.net/tgn3qzl.css");

.about {
    margin-top: 40px;
    min-height: 1400px;
    background-color: #040d2d;
    padding-bottom: 20px;

}

.custom-shape-divider-top-1648074940 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1648074940 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1648074940 .shape-fill {
    fill: #150B28;
}

.about-grid {
    background-color: #ffffff;
    filter: brightness(80%);
    height: 40vh;
    border-radius: 20px;
    color: #000000;

    transform: perspective(750px) translate3d(0px, 0px, -250px) rotateX(27deg) scale(0.9, 0.9);
    border: 5px solid #ffffff;
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease-in-out transform;

}

.about-grid:hover {

    transform: translate3d(0px, 0px, -250px);
}

.about-grid-title {
    border-radius: 20px;
    background-color: #040d2d;
    color: white;

    /*background-color: #1c8556;*/
    padding: 10px;
    text-align: center;


}

.text {
    font-family: greycliff-cf, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.rounded-1 {
    color: white;
    background-color: #1a1c34 !important;
    border-radius: 40px !important;
    padding: 10px;
    min-height: 220px;
}

.rounded-2 {
    color: white;
    background-color: #1a1c34 !important;
    border-radius: 40px !important;
    height: 345px;
}

.rounded-3 {
    color: white;
    background-color: #1a1c34 !important;
    border-radius: 40px 40px!important;
    height: 500px;
}
.rounded-3-3 {
    color: white;
    background-color: #1a1c34 !important;
    border-radius: 40px 40px!important;
    height: 200px;
}

.rounded-2-2 {
    color: white !important;
    background-color: #040d2d !important;
    border-radius: 40px !important;

}