
zmienna {
    --height-menu: 100px;
    --height-second-menu: 80px;
}


.header {
    margin-bottom: 20px !important;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px!important;
    padding-right: 10px!important;

    /*height: 200px;*/
}

.header-bg {
    /*background: rgb(7,15,52);*/
    /*background: linear-gradient(90deg, rgba(7,15,52,1) 18%, rgba(25,33,79,1) 53%, rgba(7,15,52,1) 85%);*/
    /*filter: brightness(120%);*/

    /*background-color: #0bad66;*/
    background-color: #040d2d;
    color: white;

    /*height: var(--height-menu)!important;*/
}

.menu-header {


    padding: 5px;
    margin: 0 auto;
    min-height: 50px;
    min-width: 350px;
    max-width: 700px;

    /*width: clamp(70vw,70vw,100vw);*/
    border-radius: 50px;
    background-color: #1a1c34;
    color: #ffffff;
    margin-bottom: 20px !important;
    font-size: 20px;


}
.button-menu
{
    border-radius: 50px;
    background-color: #150b28;
    text-align: center;
    padding: 5px;
    font-size: clamp(1rem,1vw,1vw)


}